<%- include('../partials/header') %>

<h1>Create New Character</h1>
  <form action="/campaigns" method="post">
    <input type="text" name="name" placeholder="Name"><br>
    <textarea name="description" placeholder="description"></textarea><br>
    <input type="submit" value="New">
  </form>

<%- include('../partials/footer') %>