body {
  margin: 0;
  padding: 0;
}
.banner-container {
  width: 100%;
  height: 100px;
}
.banner {
  height: 200px;
}
.s-banner {
  height: 140px;
}
.google-g {
  width: 30px;
  height: 30px;
}
.card-img-top {
  height: 600px;
}