body {
  margin: 0;
  padding: 0;
  background-color: #CCCCCC;
}
.banner-container {
  width: 100%;
  height: 150px;
}
.banner {
  width: 100%;
  height: 150px;
}
.s-banner {
  height: 140px;
}
.google-g {
  width: 30px;
  height: 30px;
}
.card-img-top {
  height: 600px;
}

.banner-text {
  position: absolute;
  color: white;
  font-size: 2em;
  text-shadow: 2px 2px #333;
}

.container-fluid {
  padding: 0!important
}

.user-picture {
  height: 70px;
  width: 70px;
}

.nav-link {
  color: #333;
}

.card, .search-bar {
  margin-top: 10px;
}
.card-row {
  display:flex;
  flex-direction: column;
  align-items: center;
}

li {
  margin: 10px 0
}
