<%- include('../partials/header') %>
<div class="container"> 
<% if (user) { %>
<form class="Search" action="/characters/search" method="GET">
<div ><input class="search-input" type="text" name="searchTerm" placeholder="Search character name or ID">
<button type="submit">Search</button></div>
</form>
<% } %>
    <div class="Campaigns"><a href="/campaigns"><img class=locations src="/images/outline_fight.jpeg"></a></div>
    <div class="Characters"><a href="/characters"><img class=locations src="/images/outline_character.jpeg"></a></div>
  </div>
<%- include('../partials/footer') %>