<%- include('../partials/header') %>
    <div class="Search"><input type="search" placeholder="Search character name or ID"></div>
    <div class="Campaigns">Campaign Menu</div>
    <div class="Characters">Character Menu</div>
  </div>
<%- include('../partials/footer') %>