<%- include('../partials/header') %>
<div class="Banner"><a href="/"><img class=banner src="/images/cropped-shenrooooooooon-2.png"></a></div>
    <div class="Search"><input class="search-input" type="search" placeholder="Search character name or ID"></div>
    <div class="Campaigns"><a href="/characters"><img class=banner src="/images/outline_fight.jpeg"></a></div>
    <div class="Characters"><img class=banner src="/images/outline_character.jpeg"></div>
  </div>
<%- include('../partials/footer') %>