<%- include('../partials/header') %>
<div class="container"> 
<div class="Search"><input class="search-input" type="search" placeholder="Search character name or ID"></div>
    <div class="Campaigns"><img class=banner src="/images/outline_fight.jpeg"></div>
    <div class="Characters"><a href="/characters"><img class=banner src="/images/outline_character.jpeg"></a></div>
  </div>
<%- include('../partials/footer') %>