<%- include('../partials/header') %>
  <div class="container py-5">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h1 class="display-4 mb-4">Welcome to the Dragon Ball Universe Online Helper</h1>
        <h2>Login to gain access.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h2 class="mb-3">What is Dragon Ball Universe?</h2>
        <p class="lead mb-5">Dragon Ball Universe is a tabletop RPG system created by kota1908. It allows players to experience Dragon Ball with their own characters in new and unique ways.</p>

        <h2 class="mb-3">What does this tool do?</h2>
        <p class="lead mb-5">The goal of this tool was to give players a simple way to create characters for the system, by automating many of the processes involved in character creation</p>
      </div>
      
          </div>
        </div>
<%- include('../partials/footer') %>
