<%- include('../partials/header') %>
<h1>Welcome to the Dragon Ball Universe Online Helper</h1>
<h2>Login to gain access.</h2>
<h2>What is Dragon Ball Universe?</h2>
<p>Dragon Ball Universe is a tabletop RPG system created by kota1908. It allows players to experince Dragon Ball with their own characters in new and unique ways.</p>

<h2>What does this tool do?</h2>
<p>The goal of this tool was to give players a simple way to create characters for the system, by automating many of the processes involved in character creation</p>
<%- include('../partials/footer') %>