<form action="/characters/<%= character._id%>?_method=PUT" method="POST">
    <input type="text" name="name" value="<%= character.name %>" placeholder="Name"><br>
    Select your main attributes
    <label>Primary Stat (base stat 8):</label>
    <select id="primary-stat" name="primaryStat">
      <option value="agility">Agility</option>
      <option value="force">Force</option>
      <option value="tenacity">Tenacity</option>
      <option value="scholarship">Scholarship</option>
      <option value="insight">Insight</option>
      <option value="spirit">Spirit</option>
      <option value="personality">Personality</option>
    </select><br>

    <label>Secondary Stat (base stat 6):</label>
    <select id="secondary-stat" name="secondaryStat">
      <option value="agility">Agility</option>
      <option value="force">Force</option>
      <option value="tenacity">Tenacity</option>
      <option value="scholarship">Scholarship</option>
      <option value="insight">Insight</option>
      <option value="spirit">Spirit</option>
      <option value="personality">Personality</option>
    </select><br>

    <label>Tertiary Stat (base stat 4):</label>
    <select id="tertiary-stat" name="tertiaryStat">
      <option value="agility">Agility</option>
      <option value="force">Force</option>
      <option value="tenacity">Tenacity</option>
      <option value="scholarship">Scholarship</option>
      <option value="insight">Insight</option>
      <option value="spirit">Spirit</option>
      <option value="personality">Personality</option>
    </select><br>
    <label> Race </label>
    <select id="race-seletion" name="race">
      <option value="android">Android</option>
      <option value="arcosian">Arcosian</option>
      <option value="earthlingAgility">Earthling (increase Agility +4)</option>
      <option value="earthlingTenacity">Earthling (increase Tenacity +4)</option>
      <option value="majinForce">Majin (increase Force +4)</option>
      <option value="majinSpirit">Majin (increase Spirit +4)</option>
      <option value="namekianForce">Namekian (increase Force +2)</option>
      <option value="namekianSpirit">Namekian (increase Spirit +2)</option>
      <option value="neotuffle">Neo-Tuffle</option>
      <option value="saiyan">Saiyan</option>
      <option value="shadowDragonForce">Shadow Dragon (increase Force +4)</option>
      <option value="shadowDragonSpirit">Shadow Dragon (increase Spirit +4)</option>
    </select><br>
    <input type="submit" value="Submit">
  </form>