<%- include('../partials/header') %>
<div class="container">
  <h1>Characters Page</h1>
  <div class="row">
    <div class="col-md-8">
  <ul class="list-group">
    <% characters.forEach(character=> { %>
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <p><%= character.name %></p>
          <a class="btn btn-primary" href="/characters/<%= character._id %>">View Details</a>
        </div>
      </li>
    <% }); %>
  </ul>
  <div class="my-3">
    <a class="btn btn-success" href="/characters/new">Create New Character</a>
  </div>
</div>
  </div>
</div>
<%- include('../partials/footer') %>