<%- include('../partials/header') %>
<h1>Create New Character</h1>
<form action="/characters" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="submit" value="New">
</form>
<%- include('../partials/footer') %>